<div class="container">
  <h3>About!!</h3>
  <div id="about-content">
      <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          Duis sit amet varius purus. Cras viverra orci ut ex elementum dignissim. 
          Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
          Fusce efficitur nunc elit, vel volutpat tellus porttitor et. Suspendisse porttitor pulvinar ante. 
          Quisque faucibus lobortis fringilla. Aenean felis mi, aliquam non porta sit amet, convallis sit amet mi. 
          Cras fermentum odio tempor lectus congue, at scelerisque augue ultrices. Quisque cursus mauris condimentum arcu blandit, 
          quis laoreet arcu mollis. Aliquam quis blandit urna. Nam ac suscipit dui. Integer ligula nisl, tincidunt a orci eget, 
          pharetra vehicula justo. Mauris pellentesque enim id sagittis rhoncus. Mauris quis arcu eget dolor vulputate lobortis.
          Vivamus dapibus bibendum
      </p>
  </div>
</div>