<div id='blog-header'>
  <div class="row">
      <img src="assets/Website_Header_Character_TEMP.png" style="width: 480px; height:200px;">
      <img src="assets/Website_Header_Title_TEMP.png" style="width: 480px; height:200px;">
      <p style="clear: both;"></p>
  </div>
  <h4>
    One Worker. One Pair of Pant. One accident...
  </h4>
  <h5>...Rip...</h5>
  <button type="button" class="btn btn-primary">Buy Me I Am Awesome</button>
</div>
<intro-post></intro-post>

    <div class="d-flex flex-row">
        <div class="justify-content-center" style="border: 1px solid black">
          <div class="d-flex justify-content-end">
              <posts></posts>
          </div>
            
      </div>
      <div class="col-md-3">
        <side-bar></side-bar>
      </div>
    </div>



