<div id='blog-header'>
      <img src="Website_Header_TransparentBackground.png">
  <h4>
    A frantic stealth game about searching for new pants
  </h4>
  <button type="button" class="btn btn-primary">Wishlist on Steam now!</button>
</div>
<intro-post></intro-post>

<div class="d-flex flex-row">
  <div class="d-flex justify-content-end">
    <div class="col-md-8" style="border: 1px solid #e5e5e5">
        <posts></posts>
    </div>
  </div>
  <div class="col-md-3">
    <side-bar></side-bar>
  </div>
</div>