
<div class="container">
    <div class="row h-100 justify-content-center align-items-center">
        
        <div *ngFor="let post of postList">
            <div class="post" style="border-bottom: 1px solid #e5e5e5;">
                <div style="margin: 50px;">
                    <h3 style="margin-bottom: 20px;">{{post.title}}</h3>
                    <p>{{getPostDescription(post)}}...</p>
                    <button type="button" class="btn btn-light-green">Continue...</button>
                </div>
            </div>
        </div>
    </div>
</div>
 