#posts{
    float: left;
    background-color: #d5e8e7;
}

#post {
    padding-bottom: 5px;
    background-color: #d5e8e7;
    border-bottom: 5px solid #FFA9FC;
}

#post-title {
    margin-bottom: 20px; 
    font-family: fff_forward;
}

#post-header{
    padding-top: 10px;
    padding-left: 10px;
    font-family: fff_forward;
    text-align: left;
}