<div class="flex-column" style="border: 1px #e5e5e5 solid;">
    <div class="flex-column">
        <div class="p-2" style="text-align: left; border-bottom: 1px solid #e5e5e5;">
            <h5>Purchase</h5>
        </div>
    </div>
    <div class="flex-column" style="text-align: left; font-size: 18px; padding-left: 50px;">
        <div class="p-2">Steam</div>
        <div class="p-2">Itch</div>
    </div>
    <div class="flex-column">
        <div class="p-2" style="text-align: left; border-bottom: 1px solid #e5e5e5">
            <h5>Social</h5>
        </div>
    </div>
    <div class="flex-column" style="text-align: left; padding-left: 50px;">
        <div class="p-2">Facebook</div>
        <div class="p-2">Twiter</div>
        <div class="p-2">Flex item 3</div>
    </div>
</div>