<div class="flex-column" style="border: 1px #ffa2fc solid; background-color: #d5e8e7;">
    <div class="flex-column">
        <div class="p-2" style="text-align: left; border-bottom: 1px solid #ffa2fc;">
            <h5>Available On...</h5>
        </div>
    </div>
    <div class="flex-column" style="text-align: left; font-size: 18px;">
        <div class="p-2">
            <a href="http://store.steampowered.com/app/24980/Mass_Effect_2/">
                <img src="assets\icon\steam-icon.ico" style="width: 24px; height: 24px;"> Steam
            </a>
        </div>
        <div class="p-2">
            <a href="https://scottethington.itch.io/ripped-pants-at-work">
                <img src="assets\icon\itch.io-icon.jpg" style="width: 24px; height: 24px;"> Itch
            </a>
        </div>
        <div class="p-2">
            <a href="https://gamejolt.com/games/rippedpantsatwork/294502">
                <img src="assets\icon\gamejolt-icon.png" style="width: 24px; height: 24px;"> Game Jolt
            </a>
        </div>
    </div>
    <div class="flex-column">
        <div class="p-2" style="text-align: left; border-bottom: 1px solid #ffa2fc">
            <h5>Social</h5>
        </div>
    </div>
    <div class="flex-column" style="text-align: left;">
        <div class="p-2">
            <a href="https://www.facebook.com/RippedPantsAtWork">
                <img src="assets\icon\facebook-icon.png" style="width: 24px; height: 24px;"> Facebook
            </a>
        </div>
        <div class="p-2">
            <a href="https://twitter.com/BazookaRaccoon">
                <img src="assets\icon\twitter-icon.png" style="width: 24px; height: 24px;"> Twitter
            </a>
        </div>
        <div class="p-2">
            <a href="https://www.youtube.com/channel/UCB3LvOzPawqNVkBjnOa9fLQ">
                <img src="assets\icon\youtube-icon.png" style="width: 24px; height: 24px;"> YouTube
            </a>
        </div>

    </div>
</div>